<h1>Add Vendor</h1>
<p>Add vendor here:</p>

<form action="/vendors" method="post" class="style-form">
  <label for="vendorName">Vendor Name</label>
  <input type="vendorName" name="vendorName" type="text">
  <label for="description">Description</label>
  <input type="description" name="description" type="text">
  <button type="submit">Add Vendor</button>
</form>




<p><a href="/">Home</a></p>
<p><a href="/vendors">Vendors</a></p>
