<link rel="stylesheet" href="~/css/styles.css">
<body id="vendorNew">
<h1 id="vendorTitle">Add Vendor</h1>
<form action="/vendors" method="post" class="style-form addVendorText">
  <input type="vendorName" name="vendorName" type="text" placeholder="Vendor Name">
  <button type="submit" class="btn">Add Vendor</button>
</form>

<div id="footer" class="link">
  <a href="/">Home</a>
  <a href="/vendors">Vendors</a>
</div>

</body>
