@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/styles.css">
<body id="indexImg">
    <h1 id="indexTitle">PIERRES BAKERY</h1>
    <h3 class="indexText"><a class="indexText" href='/vendors/new'>Vendor Sign in</a></h3>
    <p><a class="indexText" href="/">Home</a></p>
    <p><a class="indexText" href="/vendors">Vendors</a></p>
</body>
