@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<div id="indexImg">

<h1>PIERRES BAKERY</h1>
<h3><a href='/vendor/new'>Vendor Sign in</a></h3>
<p><a href="/">Home</a></p>
<p><a href="/vendors">Vendors</a></p>





</div>
